<html>
<head>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.1.3/vue-router.min.js"></script>
<link rel="stylesheet" href="css/style_1.css">
<style type="text/css">

</style>
</head>
<body>
  <div id="d1">
<form name="form" method="post" action="list_shouli.htm" onSubmit=event.returnValue=window.showModalDialog("huidan.htm",this,"dialogWidth:450px;dialogHeight:450px")>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25%">他项权登记：</td>
    <td colspan="3">
      <select @change="MaterialsfindAll($event.target.selectedIndex)" v-model="bdname">
        <option  v-for="tx in taxiang" >{{tx.bdname}}</option>
      </select>   
      </td>
  </tr>
  <tr>
    <td>他项权登记登记必要文件：</td>
    <td colspan="3"><p>
        <label v-for="m in materials" v-model="mname">
          <input  type="checkbox"  checked>
          {{m}}
          <br>
        </label>
    </p>      
  </td>
  </tr>
  <tr>
    <td>申请人：</td>
    <td width="25%"><label>
      <input name="textfield" type="text" v-model="aname" size="22">
    </label></td>
    <td width="25%">申请人身份证件号码：</td>
    <td width="25%"><input name="textfield2" type="text" v-model="acard" size="22" maxlength="18"></td>
  </tr>
    <td>&nbsp;</td>
    <td colspan="3"><label></label></td>
  </tr>
  <tr>
    <td colspan="4" align="center"><label>
      <button type="button" @click="apply()" >受理</button>
     <!-- <router-link to="/registration_form.html"><button type="button" @click="apply(aname)" >受理</button></router-link>
     -->
      &nbsp;&nbsp;
      <button>取消</button>
    </label></td>
    </tr>
</table>
</form>
</div>
</body>
</html>
<script>
  new Vue({
    el:"#d1",
    data:{
      taxiang:null,
      materials:null,
      bdname:null,
      mname:null,
      aname:null,
      acard:null,
      
    },
    methods: {
      findMortgages(){
        axios.get("http://localhost:9000/mortgages/BussnesstypefindAll")
        .then(res => {
          this.taxiang = res.data;
          //console.log(res); 
        })
        .catch(err => {
          console.error(err); 
        })
      },
      MaterialsfindAll(){
        //console.log(this.bdname); 
        axios({
          headers:  {'Content-Type': 'application/x-www-form-urlencoded'},
          method:'post',
          url: "http://localhost:9000/mortgages/MaterialsfindAll",
          params: {
            bdname:this.bdname,
          }
        })
        .then(res => {
            this.materials = res.data;
            //console.log(res); 
        })
        .catch(err =>{
            console.error(err);
        })
      },
      apply(){
        if(this.bdname=="一般抵押登记"){
          window.location.href='Ybdydj.html';
        }
        if(this.bdname=="一般抵押变更登记"){
          window.location.href='Ybdybg.html';
        }

        if(this.bdname=="一般抵押转移登记"){
          window.location.href='Ybdyzy.html';
        }
        if(this.bdname=="一般抵押注销登记"){
          window.location.href='Ybdyzx.html';
        }
        if(this.bdname=="最高额抵押登记"){
          window.location.href='Zgedy.html';
        }
        if(this.bdname=="最高额抵押变更登记"){
          window.location.href='Zgedybg.html';
        }
        if(this.bdname=="最高额抵押转移登记"){
          window.location.href='Zgedyzy.html';
        }
        if(this.bdname=="最高额抵押确定登记"){
          window.location.href='Zgedyqd.html';
        }
       
      }
    },
    mounted(){
        this.findMortgages();
        this.bdname='一般抵押登记';
        this.MaterialsfindAll()
     }
  })

</script>