<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>一般抵押变更登记表</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.9.4/qs.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <link rel="stylesheet" href="../layui/css/layui.css">
    </head>
    <body>
        <div id="app">
            <form class="layui-form" action="">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr class="layui-bg-blue">
                            <th colspan="9">
                                申请人情况:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;" >抵押权人:</td>
                            <td colspan="4">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required lay-verify="required"
                                        placeholder="请输入抵押权人姓名" autocomplete="off" class="layui-input" v-model="names[0]">
                                </div>
                            </td>
                            <td style="text-align: center;">联系电话:</td>
                            <td colspan="5">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入联系电话"
                                        autocomplete="off" class="layui-input" v-model="comphones[0]">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">证件类型:</td>
                            <td colspan="4">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required lay-verify="required"
                                        placeholder="请输入证件类型" autocomplete="off" class="layui-input">
                                </div>
                            </td>
                            <td style="text-align: center;">证件号码:</td>
                            <td colspan="4">
                                <div class="layui-slider-input-txt">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入证件号码"
                                        autocomplete="off" class="layui-input" v-model="cards[0]">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">抵押人:</td>
                            <td colspan="4">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required lay-verify="required"
                                        placeholder="请输入抵押人姓名" autocomplete="off" class="layui-input" v-model="names[1]" @blur="findmortgagecode()">
                                </div>
                            </td>
                            <td style="text-align: center;">联系电话:</td>
                            <td colspan="5">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入联系电话"
                                        autocomplete="off" class="layui-input" v-model="comphones[1]">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">证件类型:</td>
                            <td colspan="4">
                                <div class="layui-input-inline">
                                    <input type="text" name="title" required lay-verify="required"
                                        placeholder="请输入证件类型" autocomplete="off" class="layui-input">
                                </div>
                            </td>
                            <td style="text-align: center;">证件号码:</td>
                            <td colspan="5">
                                <div class="layui-slider-input-txt">
                                    <input type="text" name="title" required lay-verify="required" placeholder="请输入证件号码"
                                        autocomplete="off" class="layui-input" v-model="cards[1]">
                                </div>
                            </td>
                        </tr>                        
                        <tr class="layui-bg-blue">
                            <td colspan="9">申请内容:</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">房产证号:</td>
                            <td colspan="5">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入房产证号"
                                    autocomplete="off" class="layui-input" v-model="propertyrightcode">
                            </td>
                            <td style="text-align: center;">他项权证号
                                （登记证明号）:</td>
                            <td colspan="4">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入他项权证号"
                                    autocomplete="off" class="layui-input" v-model="mortgagecode">
                            </td>
                        </tr>
                        <tr>                            
                            <td style="text-align: center;">房屋坐落:</td>
                            <td colspan="9">
                                <input type="text" name="title" required lay-verify="required" placeholder="请输入房屋坐落地"
                                    autocomplete="off" class="layui-input" v-model="houseaddress">
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" rowspan="2" colspan="2">抵押权变更</td>                            
                            <td style="text-align: left;">变更前:</td>
                            <td colspan="6">
                                <div layui-slider-input-txt>
                                <input type="text" name="title" required lay-verify="required"
                                    autocomplete="off" class="layui-input" v-model="changes[0]">
                                </div>
                            </td>                            
                        </tr>
                        <tr>                            
                            <td style="text-align: left;">变更后:</td>
                            <td colspan="6">
                                <div layui-slider-input-txt></div>
                                <input type="text" name="title" required lay-verify="required"
                                    autocomplete="off" class="layui-input" v-model="changes[1]">
                                </div>
                            </td>                           
                        </tr>                        
                        <tr>
                            <td style="text-align: center;">备注:</td>
                            <td colspan="9">
                                <div layui-slider-input-txt>
                                    <input type="text" name="title"  
                                    autocomplete="off" class="layui-input" v-model="beizhu">
                                </div>
                            </td>                        
                        </tr>                        
                        <tr class="layui-bg-blue">
                            <td colspan="9">校验证件:</td>
                        </tr>
                        <tr  v-for="item in materials" v-model="mname">
                            <td colspan="6" style="text-align: center;" >
                                {{item}}
                            </td>
                            <td colspan="3">
                                <button type="button" class="layui-btn-normal layui-btn-sm" id="test1">
                                    <i class="layui-icon">&#xe67c;</i>上传文件
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="layui-form-item" style="text-align: center;">
                    <div class="layui-input-block">
                      <button class="layui-btn" lay-submit lay-filter="formDemo" type="button" @click="apply()">立即受理</button>
                      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                  </div>
            </form>
        </div>
    </body>
</html>

<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="layui/layui.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    new Vue({
        el: "#app",
        data: {
            names:[],//名字
            cards:[],//身份证
            comphones:[],//联系方式

            materials:null,//资料
            mname:null,//资料名
            propertyrightcode:null,//房产证号
            mortgagecode:null,//他项权证号
            houseaddress: null,//房屋坐落
            changes:[],//变更的内容
            beizhu:null,//备注
            uname:null,//登录人的name
            bdname:"一般抵押变更登记",
        },
        
        methods: {
            //资料
            MaterialsfindAll(){
                axios({
                method:'post',
                url: "http://localhost:9000/mortgages/ybdy",
                params: {
                    bdname:this.bdname,
                }
                })
                .then(res => {
                    this.materials = res.data;
                    //console.log(res); 
                })
                .catch(err =>{
                    console.error(err);
                })
            },
            //他项权证号
            findmortgagecode(){
                console.log(this.names[1])
                axios({
                    headers:  {'Content-Type': 'application/x-www-form-urlencoded'},
                    method:'post',
                    url: "http://localhost:9000/mortgagesapply/findmortgagecode",
                    params: {
                        debtname:this.names[1],    
                    }
                })
                .then(res => {
                    this.mortgagecode = res.data; 
                })
                .catch(err =>{
                    console.error(err);
                })
                this.findpropertyrightcode();
            },
             //房产证号
             findpropertyrightcode(){
                console.log(this.names[1])
                axios({
                    headers:  {'Content-Type': 'application/x-www-form-urlencoded'},
                    method:'post',
                    url: "http://localhost:9000/mortgagesapply/findpropertyrightcode",
                    params: {
                        debtname:this.names[1],
                    }
                })
                .then(res => {
                    this.propertyrightcode = res.data; 
                })
                .catch(err =>{
                    console.error(err);
                })                
            },
            //受理
            apply(){
                this.uname = sessionStorage.getItem("name");
                let params = new URLSearchParams;
                params.append('uname', this.uname);
                params.append('names', this.names);
                params.append('cards', this.cards);
                params.append('propertyrightcode', this.propertyrightcode);
                params.append('mortgagecode', this.mortgagecode);
                params.append('houseaddress', this.houseaddress);
                params.append('changes', this.changes);

                console.log(this.changes);
                axios({
                    headers:  {'Content-Type': 'application/x-www-form-urlencoded'},
                    method:'post',
                    url: "http://localhost:9000/mortgagesapply/change",
                    data: params,
                })
                .catch(err => {
                        console.error(err);
                })
                window.location.href='Ybdybgyw.html';
            }
        },
        mounted() {
            this.MaterialsfindAll();
        },
    });
</script>