<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>所有权登记表</title>
        <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>
        <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/theme-chalk/index.css" rel="stylesheet">
        <link rel="stylesheet" href="layui/css/layui.css">
    </head>

    <body>
        <div id="app">
            <form action="">

                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr class="layui-bg-blue">
                            <th colspan="6">
                                申请人基本信息:
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">申请人:</td>
                            <td>
                                <div class="layui-input-inline">
                                    <input type="text" v-model="aname[0]" name="aname" required lay-verify="required"
                                        placeholder="请输入申请人姓名" autocomplete="off" class="layui-input">
                                </div>
                            </td>
                            <td style="text-align: center;">户籍地址:</td>
                            <td colspan="4">
                                <div class="layui-input-block">
                                    <input type="text" v-model="aaddress[0]" name="aaddress" required
                                        lay-verify="required" placeholder="请输入申请人户籍地址" autocomplete="off"
                                        class="layui-input">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">联系电话:</td>
                            <td>
                                <div class="layui-input-inline">
                                    <input type="text" v-model="aphone[0]" name="aphone" required lay-verify="required"
                                        placeholder="请输入联系电话" autocomplete="off" class="layui-input">
                                </div>
                            </td>
                            <td style="text-align: center;">证件号码:</td>
                            <td colspan="4">
                                <div class="layui-input-block">
                                    <input type="text" v-model="acard[0]" name="acard" required lay-verify="required"
                                        placeholder="请输入证件号码" autocomplete="off" class="layui-input">
                                </div>
                            </td>
                        </tr>

                        <tr class="layui-bg-blue">
                            <td colspan="6">房产基本信息:</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">区:</td>
                            <td>
                                <div>
                                    <select name="areaid" v-model="areaid"
                                        @change="getdivision($event.target.selectedIndex)">
                                        <option v-for="item in areas" :value="item.areaid" style="width: 200px;">
                                            {{item.arename}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align: center;">建筑区划:</td>
                            <td>
                                <div>
                                    <select name="devisionid" v-model="devisionid">
                                        <option v-for="item in division" :value="item.devisionid" style="width: 200px;">
                                            {{item.devisionname}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align: center;">丘地号:</td>
                            <td>

                                <input type="text" name="qiucard" v-model="qiucard" required lay-verify="required"
                                    placeholder="请输入丘地号" autocomplete="off" class="layui-input">

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">登记种类:</td>
                            <td>
                                <div>
                                    <select name="bdid" v-model="bdid">
                                        <option v-for="item in ownership" :value="item.bdid" style="width: 200px;">
                                            {{item.bdname}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align: center;">房屋性质:</td>
                            <td>
                                <div>
                                    <select name="hpid" v-model="hpid">
                                        <option v-for="item in houseProperty" :value="item.hpid" style="width: 200px;">
                                            {{item.hpname}}</option>
                                    </select>
                                </div>
                            </td>
                            <td style="text-align: center;">取得方式:</td>
                            <td>
                                <div>
                                    <select name="mwid" v-model="mwid">
                                        <option v-for="item in makewhy" :value="item.mwid" style="width: 200px;">
                                            {{item.mwname}}</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">房屋坐落:</td>
                            <td colspan="5">

                                <input type="text" name="houseaddress" v-model="houseaddress" required
                                    lay-verify="required" placeholder="请输入房屋坐落地" autocomplete="off" class="layui-input">

                            </td>
                        </tr>

                        <tr class="layui-bg-blue">
                            <td colspan="6">共有人基本信息:</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">共有人姓名</td>
                            <td style="text-align: center;">证件号码</td>
                            <td style="text-align: center;">户籍地址</td>
                            <td style="text-align: center;">共有方式</td>
                            <td style="text-align: center;">共有份额</td>
                            <td style="text-align: center;">联系方式</td>
                        </tr>
                        <tr>
                            <td>

                                <input type="text" name="aname" v-model="aname[0]" lay-verify="required"
                                    placeholder="共有人姓名" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="acard" v-model="acard[0]" lay-verify="required"
                                    placeholder="证件号码" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aaddress" v-model="aaddress[0]" lay-verify="required"
                                    placeholder="户籍地址" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonway" v-model="commonway[0]" lay-verify="required"
                                    placeholder="共有方式" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonshare" v-model="commonshare[0]" lay-verify="required"
                                    placeholder="共有份额" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aphone" v-model="aphone[0]" lay-verify="required"
                                    placeholder="联系方式" autocomplete="off" class="layui-input">

                            </td>
                        </tr>
                        <tr>
                            <td>

                                <input type="text" name="aname" v-model="aname[1]" lay-verify="" placeholder="共有人姓名"
                                    autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="acard" v-model="acard[1]" lay-verify="" placeholder="证件号码"
                                    autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aaddress" v-model="aaddress[1]" lay-verify=""
                                    placeholder="户籍地址" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonway" v-model="commonway[1]" lay-verify=""
                                    placeholder="共有方式" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonshare" v-model="commonshare[1]" lay-verify=""
                                    placeholder="共有份额" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aphone" v-model="aphone[1]" lay-verify="" placeholder="联系方式"
                                    autocomplete="off" class="layui-input">

                            </td>
                        </tr>
                        <tr>
                            <td>

                                <input type="text" name="aname" v-model="aname[2]" lay-verify="" placeholder="共有人姓名"
                                    autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="acard" v-model="acard[2]" lay-verify="" placeholder="证件号码"
                                    autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aaddress" v-model="aaddress[2]" lay-verify=""
                                    placeholder="户籍地址" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonway" v-model="commonway[2]" lay-verify=""
                                    placeholder="共有方式" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonshare" v-model="commonshare[2]" lay-verify=""
                                    placeholder="共有份额" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aphone" v-model="aphone[2]" lay-verify="" placeholder="联系方式"
                                    autocomplete="off" class="layui-input">

                            </td>
                        </tr>
                        <tr>
                            <td>

                                <input type="text" name="aname" v-model="aname[3]" lay-verify="" placeholder="共有人姓名"
                                    autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="acard" v-model="acard[3]" lay-verify="" placeholder="证件号码"
                                    autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aaddress" v-model="aaddress[3]" lay-verify=""
                                    placeholder="户籍地址" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonway" v-model="commonway[3]" lay-verify=""
                                    placeholder="共有方式" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="commonshare" v-model="commonshare[3]" lay-verify=""
                                    placeholder="共有份额" autocomplete="off" class="layui-input">

                            </td>
                            <td>

                                <input type="text" name="aphone" v-model="aphone[3]" lay-verify="" placeholder="联系方式"
                                    autocomplete="off" class="layui-input">

                            </td>
                        </tr>





                        <tr class="layui-bg-blue">
                            <td colspan="6">
                                校验证件:
                            </td>

                        </tr>


                        <tr>
                            <td colspan="2" style="text-align: center;">
                                登记申请书一份：
                            </td>

                            <td colspan="4">
                                <input type="file" @change="getfile($event)">
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                申请人身份证复印件一份：
                            </td>
                            <td colspan="4">
                                <input type="file" @change="getfile($event)">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                申请人一寸照片一张：
                            </td>
                            <td colspan="4">
                                <input type="file" @change="getfile($event)">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                购房发票复印件一份：
                            </td>
                            <td colspan="4">
                                <input type="file" @change="getfile($event)">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                购房合同复印件（已备案）一份：
                            </td>
                            <td colspan="4">
                                <input type="file" @change="getfile($event)">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                契税完税证复印件一份：
                            </td>
                            <td colspan="4">
                                <input type="file" @change="getfile($event)">
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="layui-form-item" style="text-align: center;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" @click="goform">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </form>
        </div>
        <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src="layui/layui.js"></script>
        <script>
            layui.use('form', function () {
                var form = layui.form;
                form.on('submit(formDemo)', function (data) {
                    return false;
                });
                //各种基于事件的操作，下面会有进一步介绍
            });

            new Vue({
                el: "#app",
                data: {
                    aname: [],
                    aaddress: [],
                    aphone: [],
                    acard: [],
                    commonway: [],
                    commonshare: [],
                    areaid: "",
                    mwid: "",
                    devisionid: "",
                    hpid: "",
                    houseaddress: "",
                    bdid: "",
                    qiucard: "",
                    areas: "",
                    ownership: "",
                    houseProperty: "",
                    makewhy: "",
                    division: "",
                    file: [],
                    formData: new FormData(),
                    params: new URLSearchParams(),
                    fileList: [{ name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100' }, { name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100' }]

                },
                mounted() {
                    this.getareas();
                    this.getownership();
                    this.gethouseproperty();
                    this.getmakewhy();
                    var storage = window.sessionStorage;
                    this.aname[0] = storage.getItem("aname");
                    this.acard[0] = storage.getItem("acard")
                    console.log(this.aname[0]+ " --"+this.acard[0])

                },
                methods: {
                    getfile(event){
                        console.log(event)
                        this.formData.append("files",event.target.files[0])
                        console.log(this.file)
                    },


                    getareas() {
                        axios.get("http://localhost:9000/areas/findAll")
                            .then(res => {
                                this.areas = res.data
                                this.getdivision(0);
                            })
                            .catch(err => {
                                console.error(err);
                            })
                    },
                    getownership() {
                        axios.get("http://localhost:9000/businessType/findAll")
                            .then(res => {
                                this.ownership = res.data[0].bunessdetials
                            })
                            .catch(err => {
                                console.error(err);
                            })
                    },
                    gethouseproperty() {
                        axios.get("http://localhost:9000/houseProperty/findAll")
                            .then(res => {
                                this.houseProperty = res.data
                            })
                            .catch(err => {
                                console.error(err);
                            })
                    },
                    getmakewhy() {
                        axios.get("http://localhost:9000/makeWhy/findAll")
                            .then(res => {
                                this.makewhy = res.data

                            })
                            .catch(err => {
                                console.error(err);
                            })
                    },
                    getdivision(index) {
                        this.division = this.areas[index].devision
                    },

                    goform() {
                        //let params = new URLSearchParams();
                        this.formData.append('aname', this.aname);
                        this.formData.append('acard', this.acard);
                        this.formData.append('aphone', this.aphone);
                        this.formData.append('aaddress', this.aaddress);
                        this.formData.append('areaid', this.areaid);
                        this.formData.append('devisionid', this.devisionid);
                        this.formData.append('hpid', this.hpid);
                        this.formData.append('mwid', this.mwid);
                        this.formData.append('bdid', this.bdid);
                        this.formData.append('qiucard', this.qiucard);
                        this.formData.append('houseaddress', this.houseaddress);
                        this.formData.append('commonway', this.commonway);
                        this.formData.append('commonshare', this.commonshare);
                        

                    

                        axios({
                            headers: { 'Content-Type': 'multipart/form-data' },
                            method: 'post',
                            url: "http://localhost:9000/applicant/save",
                            data: this.formData
                        })
                            .then(res => {
                                window.location.href = "bussnissStatus.html";
                            })
                            .catch(err => {
                                console.error(err);
                            })
                    },
                    handleRemove(file, fileList) {
                        console.log(file, fileList);
                    },
                    handlePreview(file) {
                        console.log(file);
                    }
                },
            });


        </script>

    </body>

</html>